<body>
  <section id="banner">
    <div class="wrapper">
      <header>
        <p id="logo">JamNight</p>
        <div id="nextEvent"><%= render "events/single" %></div>
      </header>
      <div class="content">
        <div class="playlist">
          widget for playlists!
        </div>
        <div class="songs">widget for songs!</div>

      </div>
    </div>
  </section>
</body>