<nav class="navbar navbar-default" role="navigation">
  <div class="row">
    <div class="col-md-3">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Jam Night</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <%= render 'events/single' %>
    </div>
  </div>
</nav>
